
{{! link for documentation on accessibility for forms }}
{{! http://web-accessibility.carnegiemuseums.org/code/forms/ }}

<main>
    <h1>Edit Profile</h1>
    <form class="disable-select" action="" method="post">
    {{#dataToRender}}
        <label for="first">
            <input type="text" name="first" id="first" value="{{first}}"/>
            first name
        </label>

        <label for="last">
            <input type="text" name="last" id="last" value="{{last}}"/>
            last name
        </label>

        <label for="email">
            <input type="email" name="email" id="email" value="{{email}}"/>
            email
        </label>

        <label for="password">
            <input type="password" name="password" id="password" value=""/>
            password
        </label>

        <label for="passconfirm">
            <input
                type="password"
                name="passconfirm"
                id="passconfirm"
                value="{{password}}"
                {{!-- +++ remove pass log value --}}
            />
            confirm password
        </label>
        {{! <span class="req">(required)</span> }}
        {{! <span class="error-message">
        Please give us a little more information about your inquiry.
      </span> }}
        <label for="city">
            <input type="text" name="city" id="city" value="{{city}}"/>
            city
        </label>

        <label for="age">
            <input type="text" name="age" id="age" value="{{age}}"/>
            age
        </label>

        <label for="website">
            {{!-- +++ UX HINT: url has to start with http:// or https:// --}}
            <input type="text" name="website" id="website" value="{{website}}"/>
            website
        </label>

        <button class="submit" type="submit">Submit</button>
    {{/dataToRender}}
    </form>

    <a href="/sign" class="discreet"> → Skip</a>
</main>