<main>
    <div class="container-profile">
        <h1>Profile</h1>
        {{#dataToRender}}
        <p class="user-data">First name: <span class="data"> {{first}}</span></p>
        <p class="user-data">Last name:  <span class="data">{{last}}</span></p>
        <p class="user-data">E-Mail:  <span class="data">{{email}}</span></span></p>
        <p class="user-data">City: <span class="data"> {{city}}</span></p>
        <p class="user-data">Age: <span class="data"> {{age}}</span></p>
        <p class="user-data">Website:  <span class="data">{{website}}</span></p>
        {{/dataToRender}}
        {{!-- <canvas></canvas> --}}
    </div>
    <a href="/profile/edit" class="discreet"> Edit Profile</a>
    <a href="/profile/deletesignature" class="discreet destructive">Delete signature</a>


</main>